{% extends 'base1.html' %}

{% load crispy_forms_tags %}
{% block page %}
{% load static %}
   <div class="page-header" style="background: url({% static 'site/img/banner1.jpg' %});">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-wrapper">
                <h2 class="product-title">Ajout Offre d'emploi</h2>
                <ol class="breadcrumb">
                  <li><a href="{% url 'home' %}"><i class="ti-home"></i> Acceuil</a></li>
                  <li class="current">Ajout Offre d'emploi</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}

     <div id="content" class="my-account">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
              <div class="my-account-form">
                <ul class="cd-switcher">
                   <li><a class="selected" href="#0">JobEvents Ajout Offre d'emploi</a></li>
                </ul>
                    <!-- Register Participants-->
                <div id="cd-login" class="is-selected">
                  <div class="page-login-form register">
                      <form role="form" class="login-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                             <div class="input-icon">
                                 <i class="ti-bag"></i><input type="text" class="form-control" name="titre" autofocus required id="id_titre" placeholder="Titre du poste">
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="input-icon">
                            <textarea rows="4" cols="70" name="short_description" class="form-control" autofocus required id="id_short_description" placeholder="Description"></textarea>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="input-icon">
                          <i class="ti-calendar"></i><input type="text" class="form-control" name="date_de_debut" autofocus required id="id_date_de_debut" placeholder="Date de debut Affichage">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="input-icon">
                          <i class="ti-calendar"></i><input type="text" class="form-control" name="dete_de_fin" autofocus required id="id_date_de_fin" placeholder="Date de fin Affichage">
                        </div>
                      </div>
                      <div class="form-group">
                             <div class="input-icon">
                                 <i class="ti-bar-chart-alt"></i><input type="text" class="form-control" name="salaire" autofocus required id="id_salaire" placeholder="Salaire">
                            </div>
                        </div>
                      <button class="btn btn-common log-btn">Ajout offre d'emploi</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}>
