
{% load static %}
{% load bootstrap4 %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


liste des evenement

<h2>{{ evenement.title }}</h2>

<!-- Comments -->
        <div id="comments" class="mt-3">
            <h3>Comments</h3>

            <!-- User message -->
            {% if message %}
            <div class="alert alert-success alert-dismissible fade show">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
            {% endif %}

            <ul class="list-unstyled">
                {% for comment in comments %}
                <li class="media">

                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{ comment.author_name }}</h5>
                        <p>
                            <small class="text-muted">{{ comment.created_at }}</small>
                        </p>
                        <p>
                            {% if comment.status == 'moderated' %}
                                <span class="font-weight-light font-italic text-muted">
                                    [[ Moderated comment: {{ comment.moderation_text }} ]]
                                </span>
                            {% else %}
                                {{ comment.text }}
                            {% endif %}
                        </p>
                    </div>
                </li>
                {% empty %}
                <li class="media">No comments yet!</li>
                {% endfor %}
            </ul>

            <form action="{% url 'evenement' evenement.pk %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form comment_form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">Post Comment</button>
                {% endbuttons %}
            </form>
        </div>

</body>
</html>