<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des evenements {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <nav class="navbar sticky-top navbar-expand-md navbar-dark bg-info">
        <a class="navbar-brand" href="{% url 'home' %}">Liste des evenements </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav mr-auto">
                {% for item in navigation_items %}
                <li class="nav-item {% if item.active %}active{% endif %}">
                    <a class="nav-link" href="{{ item.url }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <span class="navbar-text">Django's Blog</span>
    </nav>
    <div class="row mt-4">
        {% block content %}Please override this block!{% endblock %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>