<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{%block title%}{%endblock%}</title>
</head>
<body>

<h1>My site </h1>
<a href="{% url 'home' %}">Home</a>/

{% if user.is_authenticated %}
<a href="{% url 'password_change' %}">Change password</a>/
<a href="{% url 'logout' %}">Logout</a>/
<strong> You are logged as {{user.username }}</strong>
{% else %}
<a href="{% url 'signup' %}">Participant_Signup</a>/
<a href="{% url 'entreprise-signup' %}">entreprise_signup</a>/
<a href="{% url 'entreprise-home' %}">entreprise_login</a>/

<a href="{% url 'login' %}">Participant_Login</a>/
{% endif %}


<hr>

{% block content %}

{% endblock %}

</body>
</html>