{% extends 'base1.html' %}

{% load crispy_forms_tags %}
{% block page %}
{% load static %}
   <div class="page-header" style="background: url({% static 'site/img/banner1.jpg' %});">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-wrapper">
                <h2 class="product-title">Invitation</h2>
                <ol class="breadcrumb">
                  <li><a href="{% url 'home' %}"><i class="ti-home"></i> Acceuil</a></li>
                  <li class="current">Invitation</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}


{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <div class="form-actions">
      <button type="submit">Send</button>
    </div>
</form>

{% endblock %}

