{% extends 'base1.html' %}

{% load crispy_forms_tags %}
{% block page %}
{% load static %}
   <div class="page-header" style="background: url({% static 'site/img/banner1.jpg' %});">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="breadcrumb-wrapper">
                <h2 class="product-title">Envoie Invitation</h2>
                <ol class="breadcrumb">
                  <li><a href="{% url 'home' %}"><i class="ti-home"></i> Acceuil</a></li>
                  <li class="current">Envoie Invitation</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block content %}
	{% if messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}"{% endif %}>{{ message }}</div>
      {% endfor %}
   {% endif %}

     <div id="content" class="my-account">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-6 cd-user-modal">
              <div class="my-account-form">
                <ul class="cd-switcher">
                   <li><a class="selected" href="#0">JobEvents Envoie Invitation</a></li>
                </ul>
                    <!-- Register Participants-->
                <div id="cd-login" class="is-selected">
                  <div class="page-login-form register">
                      <form role="form" class="login-form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                             <div class="input-icon">
                                 <i class="ti-face-smile"></i><input type="text" class="form-control" name="from_email" autofocus required id="id_from_email" placeholder="From Email">
                            </div>
                        </div>
						 <div class="form-group">
                             <div class="input-icon">
                                 <i class="ti-themify-favicon-alt"></i><input type="text" class="form-control" name="subject" autofocus required id="id_subject" placeholder="Subjet">
                            </div>
                        </div>
                        <div class="form-group">
                          <div class="input-icon">
                            <textarea rows="4" cols="70" name="message" class="form-control" autofocus required id="id_message" placeholder="votre Messsage"></textarea>
                          </div>
                      </div>
                      <button class="btn btn-common log-btn">Envoyer</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}

